[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pycodestyle = "*"

[packages]
discord-py = {extras = ["voice"],version = "*"}

[requires]
python_version = "3"
